# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.env

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# ndarray related
.tools/

# Flutter/Dart/Pub related
/pubspec.lock
**/doc/api/
.dart_tool/
.packages
.cache
build/
*[G|g]enerated*
local.properties
*ephemeral*
flutter_export_environment.sh
